# Module 5
# Lists
## Exercises: Level 1

1. Declare an empty list

In [1]:
empty_list=[]

2. Declare a list with more than 5 items

In [2]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # list of fruits

# Print the lists
print( fruits)

['banana', 'orange', 'mango', 'lemon', 'pear']

3. Find the length of your list

In [3]:
print(len(fruits))

5

4. Get the first item, the middle item and the last item of the list

In [8]:
print(fruits[0])               #first fruit
print(fruits[2])               #middle fruit
print(fruits[-1])              #last fruit

banana
mango
pear

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [15]:
mixed_data_type=['maryam','20','1.59','single','nassarwa road'] 
print(mixed_data_type)

['maryam', '20', '1.59', 'single', 'nassarwa road']

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [16]:
it_companies=['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using print()

In [17]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the number of companies in the list

In [18]:
print(len(it_companies))

7

9. Print the first, middle and last company

In [20]:
print(it_companies[0])       #first company
print(it_companies[3])        #middle company
print(it_companies[-1])        #last company

Facebook
Apple
Amazon

10. Print the list after modifying one of the companies

In [55]:
it_companies.insert(0, 'Intel')       #using insert
print(it_companies)

['Intel', 'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [ ]:
it_companies.append('IT company')         #using append method
print(it_companies)

['Intel', 'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT company']

12. Insert an IT company in the middle of the companies list

In [63]:
it_companies=['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.insert(3, 'IT company')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IT company', 'Apple', 'IBM', 'Oracle', 'Amazon']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [2]:
it_companies=['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
#changing 'Google' to uppercase
it_companies[1]=it_companies[1].upper()  
print(it_companies)

['Facebook', 'GOOGLE', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

14. Join the it_companies with a string '#;  '

In [3]:
joined_companies = '#;  '.join(it_companies)
print(joined_companies)

Facebook#;  GOOGLE#;  Microsoft#;  Apple#;  IBM#;  Oracle#;  Amazon

15. Check if a certain company exists in the it_companies list.

In [4]:
#Checking if'Dell'id in the list
print('is "Dell" in the list?: ', 'Dell' in it_companies )

is "Dell" in the list?:  False

16. Sort the list using sort() method

In [5]:
it_companies.sort()       #sorting in ascending order
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'GOOGLE', 'IBM', 'Microsoft', 'Oracle']

17. Reverse the list in descending order using reverse() method

In [6]:
it_companies.sort(reverse=True)     #sorting in descending order
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

16. Slice out the first 3 companies from the list

In [7]:
print(it_companies[0:3])

['Oracle', 'Microsoft', 'IBM']

19. Slice out the last 3 companies from the list

In [8]:
print(it_companies[-3::])

['Facebook', 'Apple', 'Amazon']

20. Slice out the middle IT company or companies from the list

In [10]:
print(it_companies[3])

GOOGLE

21. Remove the first IT company from the list

In [12]:
it_companies.pop(0)
print(it_companies)

['Microsoft', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

22. Remove the middle IT company or companies from the list

In [13]:
it_companies.pop(3)
print(it_companies)

['Microsoft', 'IBM', 'GOOGLE', 'Apple', 'Amazon']

23. Remove the last IT company from the list

In [14]:
it_companies.pop(-1)
print(it_companies)

['Microsoft', 'IBM', 'GOOGLE', 'Apple']

24. Remove all IT companies from the list

In [15]:
it_companies.clear()
print(it_companies)

[]

25. Destroy the IT companies list

In [16]:
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

26. Join the following lists:
``` python
    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [18]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

#Using the plus(+) operator to join
print(front_end + back_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

In [21]:
full_stack = front_end + back_end.copy()
full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

## Exercises:level 2

1. The following is a list of 10 students ages:
  ``` python 
   ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
   ```

- Sort the list and find the min and max age
- Add the min age and the max age again to the list
- Find the median age (one middle item or two middle items divided by two)
- Find the average age (sum of all items divided by their number )
- Find the range of the ages (max minus min)
- Compare the value of (min - average) and (max - average), use abs() method.

In [4]:
# List of student ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find min and max age
ages.sort()
print(ages)
min_age = min(ages)
max_age = max(ages)
print(f"Sorted Ages: {ages}")
print(f"Min Age: {min_age}")
print(f"Max Age: {max_age}")

# Add min and max age to the list
ages.append(min_age)
ages.append(max_age)
print(f"Ages after adding Min and Max: {ages}")

# Find the median age
median_age =(ages[5]+ages[6])/2
print(f"Median Age: {median_age}")

# Find the average age
average_age = sum(ages) / len(ages)
print(f"Average Age: {average_age:.2f}")

# Find the range of ages
age_range = max_age - min_age
print(f"Range of Ages: {age_range}")

# Compare (min - average) and (max - average) using abs()
min_avg_diff = abs(min_age - average_age)
max_avg_diff = abs(max_age - average_age)
print(f"Difference between Min and Average: {min_avg_diff:.2f}")
print(f"Difference between Max and Average: {max_avg_diff:.2f}")

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min Age: 19
Max Age: 26
Ages after adding Min and Max: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median Age: 24.0
Average Age: 22.75
Range of Ages: 7
Difference between Min and Average: 3.75
Difference between Max and Average: 3.25

1. Find the middle country(ies) in the [countries list](data/countries.py)

In [8]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];


# Find the middle country or countries
n = len(countries)
if n % 2 == 0:  # Even number of countries
    middle_countries = [countries[n // 2 - 1], countries[n // 2]]
else:  # Odd number of countries
    middle_countries = [countries[n // 2]]

print(f"The middle country(ies): {middle_countries}")

The middle country(ies): ['Lesotho']

2. Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [4]:

# Find the midpoint (one extra item for the first half if the list length is odd)
midpoint = (len(countries) + 1) // 2

# Divide the list into two halves
first_half = countries[:midpoint]
second_half = countries[midpoint:]

# Print the results
print("First half:", first_half)
print("Second half:", second_half)

First half: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo', 'Congo (Brazzaville)', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
Second half: ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

3. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [5]:
countries_list = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first, second, third, *scandic_countries = countries_list

print("First country:", first)
print("Second country:", second)
print("Third country:", third)
print("Scandic countries:", scandic_countries)

First country: China
Second country: Russia
Third country: USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']