# Sets


### sets
``` python
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
```

## Exercises: level 1

1. Find the length of the set it_companies

In [2]:
#set
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

7

2. Add 'Twitter' to it_companies

In [4]:
it_companies.add('Twwitter')
print(it_companies)

{'Apple', 'IBM', 'Amazon', 'Twwitter', 'Oracle', 'Facebook', 'Microsoft', 'Google'}

3. Insert multiple IT companies at once to the set it_companies

In [5]:
it_companies.update({'Intel', 'HP', 'Dell'})
print(it_companies)

{'Apple', 'Twwitter', 'Facebook', 'Oracle', 'Google', 'IBM', 'Amazon', 'Intel', 'Microsoft', 'Dell', 'HP'}

4. Remove one of the companies from the set it_companies

In [7]:
it_companies.remove('Twwitter')
print(it_companies)

{'Apple', 'Facebook', 'Oracle', 'Google', 'IBM', 'Amazon', 'Intel', 'Microsoft', 'Dell', 'HP'}

5. What is the difference between remove and discard

- remove(element): This method removes the specified element from the set. If the element is not found, it raises a KeyError.

- discard(element): This method also removes the specified element from the set. However, if the element is not found, it does nothing (no error is raised).

## Exercises: level 2

1. Join A and B

In [15]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

2. Find A intersection B

In [16]:
print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

3. Is A subset of B

In [17]:
print(A.issubset(B))
print(A.issuperset(B))

True
False

4. Are A and B disjoint sets

In [18]:
A.isdisjoint(B)

False

5. Join A with B and B with A

In [19]:
# join A with B
print(A.union(B))

# join B with A
print(B.union(A))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

6. What is the symmetric difference between A and B

In [20]:
print(A.symmetric_difference(B))

{27, 28}

7. Delete the sets completely

In [21]:
del A
del B

## Exercises: level 3

1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [ ]:
age = [22, 19, 24, 25, 26, 24, 25, 24]


# Convert the age list to a set
age_set = set(age)

# Compare the lengths
list_length = len(age)
set_length = len(age_set)

# Print the results
print(f"Length of the list: {list_length}")
print(f"Length of the set: {set_length}")

# Determine which one is bigger
if list_length > set_length:
    print("The list is bigger.")
elif list_length < set_length:
    print("The set is bigger.")
else:
    print("Both are of the same length.")

Length of the list: 8
Length of the set: 5
The list is bigger.

2. Explain the difference between the following data types: string, list, tuple and set

- String:A sequence of characters, enclosed in single, double, or triple quotes.
- List: is a collection items which is ordered and changeable(modifiable) enclosed in square brackets ([]).
 Allows duplicate members.
- Tuple: is a collection of different data type which is ordered and unchangeable or unmodifiable(immutable)  enclosed in parentheses (()). Allows duplicate members.
- Set: is a collection  items which is unordered, un-indexed and unmodifiable ,but we can add new items to the set.enclosed in curly braces ({}). Duplicate members are not allowed.

3. I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [27]:
# Sentence
sentence = "I am a teacher and I love to inspire and teach people."

# Split the sentence into words
words = sentence.split()

# Convert the list of words to a set to get unique words
unique_words = set(words)

# Print the unique words and their count
print("Unique words:", unique_words)
print("Number of unique words:", len(unique_words))

Unique words: {'inspire', 'I', 'to', 'a', 'teach', 'people.', 'teacher', 'am', 'love', 'and'}
Number of unique words: 10